{% extends 'base.html.twig' %}
{% set active_page = 'cost' %}
{% block body %}

<div class="span9">
  <div class="hero-unit">
    <h2>Zużycie energii</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data</th>
          <th>Śr. temp. wewnątrz</th>
          <th>Śr. temp. na zewnątrz</th>
          <th>Straty energii</th>
          <th>Zużycie węgla</th>
          <th>Koszt ogrzewania</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
        <tr>
          <td>{{ item.date }}</td>
          <td>{{ item.avg_in }}&deg;C</td>
          <td>{{ item.avg_out }}&deg;C</td>
          <td>{{ item.energy }} kWh</td>
          <td>{{ item.coal }} kg</td>
          <td>{{ item.cost }} zł</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div><!--/span-->

{% endblock %}